In [5]:
import pandas as pd
import matplotlib.pyplot as plt


january_apts = pd.read_csv('apartments_pl_2024_01.csv')


january_apts.isna().any()


january_apts.head()

,id,city,type,squareMeters,rooms,floor,floorCount,buildYear,latitude,longitude,...,pharmacyDistance,ownership,buildingMaterial,condition,hasParkingSpace,hasBalcony,hasElevator,hasSecurity,hasStorageRoom,price
0,a01d82c9529f98a54d64b9e061c9a73b,szczecin,apartmentBuilding,105.00,4.0,3.0,4.0,2016.0,53.431503,14.485820,...,0.335,condominium,brick,premium,no,yes,yes,no,no,1199999
1,8373aa373dbc3fe7ca3b7434166b8766,szczecin,tenement,73.02,3.0,2.0,3.0,NaN,53.452222,14.553333,...,0.280,condominium,brick,NaN,no,no,no,no,no,650000
2,7d0c31d5409caab173571cce3dcdf702,szczecin,blockOfFlats,68.61,3.0,4.0,4.0,1997.0,53.456213,14.583222,...,0.304,condominium,brick,NaN,no,yes,no,no,yes,590000
3,3eaa36a59b9354206703b5f6b2f2ff1d,szczecin,blockOfFlats,42.00,2.0,1.0,3.0,NaN,53.468056,14.538333,...,0.257,condominium,NaN,NaN,no,yes,no,no,no,584999
4,027b30cebbc49faf3094421b741ddd56,szczecin,blockOfFlats,45.50,2.0,4.0,4.0,1960.0,53.438165,14.563200,...,0.273,condominium,concreteSlab,low,no,no,no,no,yes,363000

In [30]:
pvt = january_apts.pivot_table(values = 'squareMeters',index = 'type', aggfunc = ['mean','median','count'])

pvt.columns = ['średnia','mediana','ilość']
pvt.reset_index(inplace = True)
pvt

                type    średnia  mediana  ilość
0  apartmentBuilding  62.626704    59.40   2882
1       blockOfFlats  56.082299    53.30   6704
2           tenement  67.099104    62.34   2479